BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: WebKit
TabWidth: 4
UseTab: Never
PointerAlignment: Left
SpaceAfterTemplateKeyword: true
